<div class='container main-content'>

    <div class="card">
        <div class="card-header">
            {{pageTitle}}
        </div>
        <div *ngIf="(selectedReview$ | async) as review">
        <div class="card-body">
            <div>
                {{ review.reviewContent }}
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="editReview(review)">
                Edit this review
            </button>
        </div>
    </div>
</div>