<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div>search by wineName</div>
        <div>my reviews</div>
        <div *ngIf="userReviewList$ | async as userReviewList">
            List of Reviews | {{ userReviewList.length }}
            <div *ngFor="let userReview of userReviewList">
                <button class="list-group-item list-group-item-action rounded-0"
                        (click)="reviewSelected(userReview)">
                        {{ userReview.wineId }}
                    </button>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <button class="btn btn-primary col-2" type="button" (click)="addNewUserReview()" >
                Add Review
            </button>
            <button class="btn btn-primary col-2" type="button">
                Submit Wine
            </button>
        </div>
    </div>
</div>