<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div *ngIf="userReviewList$ | async as userReviewList">
            <div class="row">
                PLACEHOLDER for search and owner filter
                <!-- TODO <div>filter my reviews checkbox</div> -->
            <!-- TODO add review search -->
            </div>
            <!-- TODO <div>filter my reviews checkbox</div> -->
            <!-- TODO add review search -->
            <div *ngFor="let userReview of userReviewList">
                <div class="row">
                    <div class="col">
                        <!-- TODO figure out spacing -->
                        <label>Review Name:&nbsp;</label>
                        <button 
                            (click)="reviewSelected(userReview)">
                            VIEW
                        </button>
                        <button 
                            (click)="editSelectedReview(userReview)">
                            EDIT
                        </button>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <button class="btn btn-primary col-2" type="button" (click)="addNewUserReview()" >
                Add Review
            </button>
            <button class="btn btn-primary col-2" type="button">
                Submit Wine
            </button>
        </div>
    </div>
</div>